
<div class="card-columns m-3 mt-5">

  <!-- Remote Projects -->
  {% for remote_project in page.remote_projects %}

    {%- for repo in site.github.public_repositories -%}

      {%- if remote_project == repo.name -%}

        {%- assign project = repo -%}
        {%- assign words = career.name | split: '-' -%}
        
        {%- capture titlecase -%}
          {%- for word in words -%}
            {{ word | capitalize | append: ' ' }}
          {%- endfor -%}
        {%- endcapture -%}

        {%- assign project_type  = "remote" -%}
        {%- assign project_id    = career.name -%}
        {%- assign project_img   = false -%}
        {%- assign project_name  = titlecase | strip -%}
        {%- assign project_desc  = career.description -%}
        {%- assign project_url   = career.html_url -%}
        {%- assign project_tools = career.topics -%}
        {%- assign external      = true -%}

        {% include career/project-card.html %}

      {%- endif -%}

    {%- endfor -%}

  {% endfor %}

  <!-- Local Projects -->
  {% for project in site.career %}

    {%- assign project_type  = "local" -%}
    {%- assign project_id    = career.name | slugify -%}
    {%- assign project_img   = career.image -%}
    {%- assign project_name  = career.name -%}
    {%- assign project_desc  = career.description -%}
    {%- assign project_tools = career.tools -%}

    {%- if career.external_url -%}
      {%- assign project_url = career.external_url -%}
      {%- assign external    = true -%}
    {%- else -%}
      {%- assign project_url = career.url | relative_url -%}
      {%- assign external    = false -%}
    {%- endif -%}

    {% include career/project-card.html %}

  {% endfor %}

</div>
